/* begin top header */
#topHeader{
  border-bottom: 1px solid #ebebeb;
}

#topHeader a{
  color: #2c3e50;
  font-weight: 600;
  font-size: 0.89rem;
  text-decoration: none;
}
/* end to header */


main {
    min-height: 70vh;
}


/* start footer */
.full-footer{
  background-color: #243c4f;
}
.top-footer p{
  color: white;
}
.top-footer a{
  color: white;
  font-weight: 600;
}
.top-footer h3{
  color: white;
}

.bottom-footer{
  background-color: #19232e;
}
.bottom-footer p{
 color: white;
}
/* end footer */

/* override background color of navbar */
.bg-dark{
    background-color: #004d80 !important;
}

/* override background color of btn-dark */
.btn-dark{
    background-color: #004d80 !important;
}

.btn-outline-dark{
  color: #004d80 !important;
  border-color: #004d80 !important;
}

.btn-outline-dark:hover{
  color: #fff !important;
  background-color: #004d80 !important;
}

h3{
  padding: 1rem 0;
}

h1 {
  font-size: 1.8rem;
  padding: 1rem 0;
}

h2 {
  font-size: 1.4rem;
  padding: 0.5rem 0;
}

/* rating */
.rating span {
  margin: 0.1rem;
}